<section class="size-section-2 bg-section2 d-flex align-items-center">
  <%= form_with url: garages_path, local: true, method: :get, html: {class: "mx-auto d-flex form-ahihi"} do |form| %>
    <%= form.text_field :city_start, class: "form-control startPoint required", placeholder: t(".point_start"), required: :true %>
    <%= form.text_field :city_end, class: "form-control startPoint required", placeholder: t(".point_stop"), required: :true %>
    <%= form.text_field :time_start, class: "form-control date date-picker datePicker readonly", placeholder: t(".date_start"), "data-date-format"=>"dd-mm-yyyy", "data-date-start-date"=>"+0d", required: :true %>
    <%= form.submit t(".search"), class: "size-seach btn bg-danger font-weight-bold text-white" %>
  <% end %>
</section>
<section class="section-3">
  <div class="container d-flex justify-content-between">
    <arcticle class = "arc-w-h mt-5">
      <%= image_tag "cartk", class: "mt-5 ml-img-2"%>
      <h4 class="text-center font-weight-bold mt-3" ><%= t ".ticket_price" %></h4>
    </arcticle>
    <arcticle class = "arc-w-h mt-5">
      <%= image_tag "seatck", class: "mt-5 ml-img-1"%>
      <h4 class="text-center font-weight-bold mt-3" ><%= t ".trusted_cars" %></h4>
    </arcticle>
    <arcticle class = "arc-w-h mt-5">
      <%= image_tag "bussp", class: "mt-5 ml-img-1"%>
      <h4 class="text-center font-weight-bold mt-3"><%= t ".only" %></h4>
    </arcticle>
  </div>
</section>
<section class="section-4 container">
  <h1 class="font-weight-bold mt-5 text-center"><%= t ".attractive_tourist_routes" %></h1>
  <div class="mt-5">
    <button class="tablink" onclick="openPage('Home', this, 'orange')">Đà Lạt</button>
    <button class="tablink" onclick="openPage('News', this, 'orange')" id="defaultOpen">Sa Pa</button>
    <button class="tablink" onclick="openPage('Contact', this, 'orange')">Hà Giang</button>
    <button class="tablink" onclick="openPage('About', this, 'orange')">Hội An</button>
    <div id="Home" class="tabcontent">
    1
    </div>
    <div id="News" class="tabcontent">
    2
    </div>
    <div id="Contact" class="tabcontent">
    3
    </div>
    <div id="About" class="tabcontent">
    4
    </div>
  </div>
</section>
